<!DOCTYPE html>
<html lang="en" class="loaded">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的书架/收藏</title>
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/head.css">
    <link rel="stylesheet" href="./bookcase.css">
    <script src="../public/js/jquery-3.2.1.js"></script>
    <script src="../public/js/vue.min.js"></script>
    <script src="../public/js/axios.min.js"></script>
</head>
<body>
    <!-- 顶部导航 可拆离-->
    <div class="topNav">
        <div class="pageHead">
                <!-- 登录注册 左边-->
            <div class="loginBox" id="login_app">
                <!-- 登录之前  isLogin一开始就是false-->
                <div class="login_before" v-if="!isLogin">    
                    <a class="reg"  href="http://127.0.0.1:5500/book_2/2.reader_reg_login/1.reg.html" target="_blank">注册</a>
                    <span class="navline">|</span>
                    <a class="login"  href="http://127.0.0.1:5500/book_2/2.reader_reg_login/2.login.html" target="_blank">登录</a>
                </div>
                <!-- 登录之后显示头像和书架信息也可以进入个人设置 -->
                <div class="login_after" v-else>
                    <!-- 显示头像 -->
                    <ul>
                        <li @mouseenter="mousein" @mouseleave="mouseout">
                            <a href="#" class="head_img" >
                                <!-- 用于上传的头像 -->
                                <img :src="src" class="header_log" v-if="src">
                                <!-- 默认的头像 -->
                                <img src="../public/images/head.png"  class="header_log" v-else>
                            </a>
                            <ul class="login_out" v-show="isHover==true">
                                <li><a href="http://127.0.0.1:5500/book_2/2.reader_reg_login/3.personal.html">我的主页</a></li>
                                <li><a href="http://127.0.0.1:5500/book_2/2.reader_reg_login/3.personal.html" target="_blank">个人设置</a></li>
                                <li><a href="javascript:;" @click="logout">退出</a></li>
                            </ul>        
                        </li>
                        <li>
                                <!-- 我的书架 -->
                            <a href="#" class="mybook">我的书架
                                <em class="bookicon"></em>
                            </a>
                        </li>
                    </ul>       
                </div>
            </div>
            <!-- 筛选框右边-->
            <div class="searchBox">
                <input type="text" class="search-box"  placeholder="理想三旬" autocomplete="off">
                <input type="text" class="submit-input" id="search-submit">
                <label for="search-submit" class="search-btn">
                    <em class="iconfont"></em>
                </label>  
            </div>
        </div>    
    </div>
    <!-- 首页导航栏 可拆离-->
    <div class="top-nav-wrap">
        <div class="box-center">
                <ul class="cf">
                    <li>
                        <a href="#">古代言情</a>
                    </li>
                    <li>
                        <a href="#">都市言情</a>
                    </li>
                    <li>
                        <a href="#">玄幻仙侠</a>
                    </li>
                    <li>
                        <a href="#">悬疑科幻</a>
                    </li>
                    <li>
                        <a href="#">考古历史</a>
                    </li>
                    <li>
                        <a href="#">浪漫学园</a>
                    </li>
                    <li>
                        <a href="#">儿童文学</a>
                    </li>
                </ul>
        </div>

    </div>
    <!-- 我的书架 -->
    <div class="wrap" id="mybook_app">
        <div class="main-wrap box-center cf">
                <!-- 左边我的基本信息 -->
                <div class="my-info-wrap f1">
                    <div class="my-bg">
                        <div class="info">
                            <!-- 我的头像和基本信息需要完善-->
                            <div class="avatar">
                                <img :src="head_src" alt="头像" v-if="head_src.slice(-3)=='jpg'">
                                <img src="../public/images/head.png" alt="默认头像" v-else>
                            </div>
                            <h3>
                                <span v-text="`昵称:${user_info.name}`"></span>
                            </h3>
                            <p>个人宣言:</p>
                            <p v-text="user_info.sign"></p>
                        </div>
                    </div>                   
                </div>
                <!-- 右边我的书架 -->
                <div class="right-content f1">
                    <div class="content-wrap mb20">
                        <div class="content-head cf">
                            <div class="head-tab f1">
                                    <h1 class="lang" v-text="`我的书架(${bookNum})`"></h1>
                            </div>
                            <div class="sort-tab fr">
                                <a href="javascript:;" class="act">阅读时间</a>
                                <a href="javascript:;">更新时间</a>
                            </div>       
                        </div>
                        <div class="bookshelf-list-wrap">
                            <div class="bookshelf-list-wrap">
                                <table class="shelf-table">
                                    <tbody>
                                        <!-- tr鼠标滑过背景颜色有变化 -->
                                        <tr v-for="(elem,i) of bookCase" :key="i" @mouseenter="trenter" @mouseleave="trleave" >
                                            <td></td>
                                            <td>
                                                <input type="checkbox" class="input-checkbox" >
                                                <!-- ui-checkbox-checked这个类名是动态添加的 -->
                                                <label  class="ui-checkbox" @click="is_check" ></label>
                                            </td>
                                            <td>
                                                <label class="label">
                                                    <div class="cf">
                                                        <div class="book-img">
                                                            <a href="#" target="_blank">
                                                                <img :src="elem.imageUrl" >
                                                                <i class="fin" v-text="`${elem.is_end?'已完结':'连载中'}`"></i>
                                                            </a>
                                                        </div>
                                                        <div class="info">
                                                            <h3>
                                                                <a href="#" v-text="elem.name"></a>                                                      
                                                            </h3>
                                                            <p v-text="`作者:${elem.authorName}`"></p>
                                                        </div>
        
                                                    </div>
        
                                                </label>
                                            </td>
                                            <td>
                                                <label  class="label">
                                                    <div class="chapter">
                                                        <h4>
                                                            <span></span>
                                                            <a href="#" target="_blank"  v-if="elem.lastChapterName" v-text=`更新至${elem.lastChapterName.slice(0,6)}`>
                                                                更新至第373章
                                                            </a>
                                                            <cite>VIP</cite>
                                                        </h4>
                                                        <p>
                                                            <i>尚未阅读</i>
                                                        </p>
        
                                                    </div>
        
        
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <div class="btn">
                                                        <a href="#" target="_blank" class="red-btn">
                                                            立即阅读
                                                        </a>
                                                        <div class="hide-btn">
                                                            <a href="javascript:;" class="top-btn">置顶</a>
                                                            <a href="javascript:;" class="del-btn" @click="delSelf(elem.id)" >删除</a>
                                                        </div>
        
                                                    </div>
        
                                                </label>
        
                                            </td>
                                        </tr>                                                       
                                    </tbody>
                                </table>      
                            </div>
                            <!-- 分页 -->
                            <div class="page-box cf" v-if="bookNum>0">
                                <div class="pagination" data-page="1" data-pagemax="2">
                                    <div class="1bf-pagination">
                                        <ul class="1bf-pagination-item-list">
                                            <li class="1bf-pagination-item">
                                                <!-- 禁用1bf-pagination-disabled -->
                                                <a href="javascript:;" class="1bf-pagination-prev 1bf-pagination-disabled"><</a>
                                            </li>
                                            
                                            <li class="1bf-pagination-item">
                                                <a href="javascript:;" class="1bf-pagination-prev lbf-pagination-current">1</a>
                                            </li>
        
                                            <li class="1bf-pagination-item">
                                                <a href="javascript:;" class="1bf-pagination-prev ">2</a>
                                            </li>
                                            <li class="1bf-pagination-item">
                                                <a href="javascript:;" class="1bf-pagination-next ">></a>
                                            </li>  
                                        </ul>
        
                                    </div>
        
                                </div>
        
                            </div>      
                        </div>      
                    </div>
                    <!-- 全选 -->
                    <div class="bottom-tool-bar" v-if="bookNum>0">
                        <div class="tool-bar">
                            <input type="checkbox" name="" id="j-bottomAll">
                            <label for="j-bottomAll" class="ui-checkbox checkbox_all" @click="check_all"></label>
                            <label for="j-bottomAll" @click="check_all">全选</label>
                            <a href="javascript:;">删除</a>       
                        </div>
        
                    </div>
    
                </div>  
        </div>
        
    </div>
   

    <script src="../public/js/head.js"></script>
    <script src="./bookcase.js"></script>
</body>
</html>